@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.dark .react-flow__node {
  background: #777;
  color: white;
}

.light .react-flow__node {
  background: white;
  color: #111;
}

.scrollProj::-webkit-scrollbar {
  display: none;
}

.react-flow__edgelabel-renderer path{
  color: black !important;
}

.react-flow__edgelabel-renderer:hover path{
  color: white !important;
}

.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: white;
}

input[type="file"]{
  display: none;
}